.section1 {
    background-image: url("../img/tarakany.avif");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    color: #6f4e37;
  }
  
  .section1__content {
    max-width: 50%;
  }
  
  .section1__content h2 {
    font-size: 32px;
  }
  
  .section1__content p {
    font-size: 18px;
  }
  .section1_img{
    width: 350px;
    height: 350px;
  }
  